@import "../const.module.scss";

.offers {
  @extend %layout;
  .offers_header {
    width: 715px;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
  }
}
