%layout {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #f2f4f7;
  padding-top: 120px;
}

%cards {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  @media (max-width: 768px) {
    gap: 5px;
  }
}


