@import "../const.module.scss";

.content_kupons {
  @extend %layout;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-top: 70px;
  .apple_kupons__top {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    .apple_kupons__header {
      color: #7e7e7e;
      font-style: normal;
      font-weight: normal;
      outline: none;
      border: 0;
      border-bottom: 2px solid #c4c4c4;
      padding: 0px;
      font-size: 14px;
      line-height: 20px;
    }
    .apple_kupons__top__znak {
      color: #a7a7a7;
      font-size: 10px;
    }
  }

  .content_kupons__title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .apple_kupons__body {
    margin: 0 auto;
    max-width: 1170px;
    border-radius: 30px;
    background-color: white;
    position: relative;
    .body_back__background {
      background-image: url(./assets/background.svg);
      width: 100%;
      height: 512px;
      background-repeat: no-repeat;
    }
    img {
      margin: 0 auto;
      margin-top: 45px;
    }

    .apple_kupons__body__bigtext {
      margin: 0 auto;
    }
    .apple_kupons__body__bigtext__timeacziya {
      margin-top: 20px;
      margin-bottom: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      color: #000000;

      opacity: 0.5;
    }
  }
}
