@import "../const.module.scss";

.content_kupons {
  @extend %layout;
    background-color: #e5e5e5;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    width: 100%;
  .apple_kupons__top {
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 220px;
    .apple_kupons__header {
      color: #a7a7a7;
      background-color: #e5e5e5;
      outline: none;
      border: 0;
      border-bottom: 2px solid #c4c4c4;
      padding: 0px;
      font-size: 10px;
    }
    .apple_kupons__top__znak{
      color: #a7a7a7;
      font-size: 10px;
    }
  }
  
.content_kupons__title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .apple_kupons__body {
    margin: 0 auto;
    width: 1170px;
    height: 1720px;
    border-radius: 30px;
    background-color: white;
    .apple_kupons__body__back {
      background-image: url(./assets/background.svg);
      height: 100%;
      background-repeat: no-repeat;
      img {
        margin: 0 auto;
        margin-top: 45px;
      }
    }
    .apple_kupons__body__bigtext {
      margin: 0 auto;
      margin-top: 50px;
    }
    .apple_kupons__body__bigtext__timeacziya{
      font-size: 20px;
      color: #8d8d8d;
    }
    
  }
 
  
}