@import "../const.module.scss";

.content_kupons {
  @extend %layout;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-top: 70px;
  .apple_kupons__top {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    .apple_kupons__header {
      &::before {
        content: "";
        background: #000000;
        width: 2px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: -6px;
    }
      color: #7e7e7e;
      font-style: normal;
      font-weight: normal;
      outline: none;
      border: 0;
      border-bottom: 2px solid #c4c4c4;
      padding: 0px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .content_kupons__title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .apple_kupons__body {
   display:flex;
   flex-direction: column;
    margin: 0 auto;
    max-width: 1170px;
    border-radius: 30px;
    background-color: white;
    position: relative;
    @media (max-width: 768px) {
      flex-basis: 100%;
     margin: auto;//0 12px
     padding:0;//0 16px
    
    }
    .body_back__background {
    display:flex;
   // align-items: center;
   
   background: linear-gradient(
    90deg
    , #F76C55 0%, #DD599D 51.56%, #C250CD 100%);
        border-radius: 30px;
      max-width: 1170px;
      padding-top: 40px;
      padding-bottom: 30px;
      background-repeat: no-repeat;
      @media (max-width: 768px) {
        flex-basis: 100%;
      
      }
    
    .body_back__background__image {
      width: 70%;
      margin: 0 auto;
   
 
    }
  }
    .apple_kupons__body__bigtext {
      margin: 0 auto;
    }
    .apple_kupons__body__bigtext__timeacziya {
      display: flex;
      justify-content:center;
      margin-top: 20px;
      margin-bottom: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      color: #000000;
      opacity: 0.5;
      @media (max-width: 768px) {
      justify-content:center;
      width: 80%;
        
      }
    }
  }
}
