.footer_buttons {
  display: flex;
  gap: 10px;
  .footer_button__social {
    background-color: white;
    outline: none;
    border: 0;
    justify-content: right;
    padding: 0;
    img {
      border-radius: 10px;
    }
  }
}
