.partners_checkbox {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 380px;
  margin-top: 15px;

  .partners_checkbox__text {
    margin: 10px;
    font-size: 18px;
    line-height: 24px;
  }
  .partners_checkbox__text--green {
    color: #00d36d;
  }
}
