@import "../const.module.scss/";

.partners {
  @extend %layout;
  padding-top: 70px;
  .partners__header {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
  }
}
