.content__input {
  visibility: hidden;
  outline: none;
  &.active {
    visibility: visible;
    display: block;
    margin: 0 auto;
    margin-right: 0px;
    margin-top: 10px;
    padding: 4px 0px 4px 4px;
    width: 260px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-weight: 400;
    font-size: 16px;
    transition: 0.2s ease;
    color: black;
  }
}
.content__button {
  visibility: hidden;
  outline: none;
  &.active {
    visibility: visible;

    margin: 0 auto;
    margin-left: 0px;
    margin-top: 10px;
    padding: 7px 9px 4px 10px;

    height: 40px;
    border: none;
    border-bottom: 1px solid #aaa;
    transition: 0.2s ease;
    background-color: white;
  }
}
