.footer_body_left {
  display: flex;
  flex-direction: column;
  text-align: left;

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  .footer_body__buttons {
    text-align: left;
    width: 90%;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}
