.footer_body_left {
  display: flex;
  flex-direction: column;
  text-align: left;
  @media (max-width:768px){
    align-items: center;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
      align-items: center;
   
    }
  }
  .footer_body__buttons {
    text-align: left;
    width: 95%;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}
