.content {
  padding: 50px;
  padding-top: 40px;
  @media (max-width: 768px) {
   
    padding: 0;
    margin-left: 10px;
  // max-width: 300px;
   text-align: center;
   justify-content: center;
    
  }
  .bigtextinstruction_first {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    .bigtextinstruction_first_title {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #000000;
     
    }
    div {
      margin-bottom: 14px;
    }
    ul {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 200%;

      margin-bottom: 0;
      li {
        color: #8d8d8d;
      }
    }

    span {
      color: black;
    }
  }
  .bigtextinstruction_second {
    font-size: 18px;
    text-align: left;
    margin-top: 40px;
    max-width: 940px;
    .bigtextinstruction_second__title {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      color: #000000;
    }
    ol {
      margin-top: 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 200%;
    }
  }

  .bigtextinstruction_thrid {
    text-align: left;
    .refs {
      margin-top: 24px;
      .refs__ref {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #00d36d;
        text-decoration: underline #00d36d80;
        padding-bottom: 15px;
        &:hover {
          cursor: pointer;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .bigtextinstruction_thrid__bigtext1 {
      max-width: 970px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      @media (max-width: 768px) {
        text-align:justify;
      }
    }
    .bigtextinstruction_thrid__bigtext2 {
      max-width: 990px;
      margin-top: 65px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: #8d8d8d;
      a {
        color: #00d36d;
        text-decoration: none;
      }
    }
  }
}
