  
.bigtextinstruction_first {
  margin-top: 40px;
  margin-left: 80px;
  text-align: left;
  font-size: 18px;
  .bigtextinstruction_first_title{
    position: absolute;
   width: 1070px;
   height: 26px;
   left: 185px;
   top: 922px;
   font-family: Geometria;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 150%;
   color: #000000;}
  div {
    margin-bottom: 30px;
  }
  li {
    color: #8d8d8d;
    margin-top: 15px;
  }
  span {
    color: black;
  }

}
.bigtextinstruction_second{
  font-size: 18px;
  text-align: left;
  margin-left: 80px;
text-align: left;
  .bigtextinstruction_second__title {
    position: absolute;
    width: 1070px;
    height: 30px;
    left: 185px;
    top: 1152px;
    
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
   
  }
  li {
    margin-top: 15px;
    width: 900px;
    
  }
  
}

.bigtextinstruction_thrid{
  margin-top: 40px;
  margin-left: 65px;
  margin-right: 50px;
  text-align: left;

.bigtextinstruction_thrid__refs{
 position: absolute;
width: 354px;
height: 24px;
left: 185px;
top: 1755px;
font-family: Geometria;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */
text-decoration-color:  #00D36D;

}
.bigtextinstruction_thrid__bigtext1{
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 35px;
  line-height: 150%;
}
.bigtextinstruction_thrid__bigtext2{
  margin-top: 60px;
  margin-right: 70px;
  font-size: 12px;
  color: #8d8d8d;
   a {
    color: #00d36d;
    text-decoration: none;
  }
}

}
