.footer_button__download {
    width: 120px;
    height: 30px;
    background-color: white;
    outline: none;
    border: 0;
    margin-right: 15px;
    margin-left: 5px;
    .footer_body__buttons__second {
      min-width: 845px;
      display: flex;
      justify-content: left;
      margin-top: 20px;
    }
  }


