.navigation {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px 15px 15px 10px;
  background-color: white;

  @media (max-width: 1024px) {
    padding-top: 5px;
    padding-bottom: 5px;
    .header_top__logo,
    img {
      height: 40px;
    }
  }
  .header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 101;
    .header_top__buttons {
      text-align: left;
      margin-left: 35px;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}
