
  @import "../const.module.scss";

  .content_kupons {
    @extend %layout;
    .content_kupons_header {
      margin: 0 auto;
      padding-top: 70px;
      display: flex;
      justify-content: space-around;
      text-align: center;
      width: 220px;
    }
    .content_kupons__header {
      display: flex;
      justify-content: flex-start;
      margin-top: 50px;
      margin-left: 170px;
      margin-bottom: 50px;
      div {
        font-size: 24px;
        font-weight: 600;
        margin-top: 15px;
        margin-left: 15px;
      }
  }
  
}
