.content {
  position: relative;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  .content__logo {
    width: 120px;
    height: 120px;
  }
  .content__percent {
    position: absolute;
    background-color: black;
    color: white;
    height: 50px;
    right: 5%;
    top: -10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
