.map_kupons__cards {
  display: flex;
  max-width:100%;
  margin-top: 50px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  @media (max-width: 768px) {
    justify-content: center;
    gap: 10px;
  }
}
